.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 90px;
    left: 5%;
    top: 70%;
    position: absolute;
  }
  
  .baloon {
    position: absolute;
    top: 100px;
    right: 240px;
    z-index: -1;
    }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 115px;
    right: 280px;
  }
  
  .bowser {
    width: 320px;
    position: absolute;
    bottom: 0;
    right: 0;
  }